body {
    font-family: "Roboto", sans-serif;
    margin: 0%;
}
/* Header */
header {
    background-color: #25AC53;      
}

header nav {
    width: 100%;
    height: 8rem;
}

#logoYNav {
    display: flex;
    margin-bottom: 32px;
    background-color: white;
   
}

header ul {
    display: flex;    
    gap: 50px;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 20px;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
}

.contenedorImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}
#imgPrin {
    max-width: 600px;
    width: 100%;    
    height: auto;
}
header img {
    margin-bottom: 16px;

}

header iframe {
    padding: 1rem;
}
/* Main */

main {
    padding: 1rem;
    margin: 0 20%;
}

main img {
    width: 300px;
    height: 300px;

}
#contenedorProductos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
#h2Visitanos {
   padding: 5px;
   margin-top: 4rem;
}

.imagenPlanta {
    width: 250px;
}
/* Footer*/
footer {
    background-color: black;
    color: white;   
     
}
/*cuando usamos por ID inicia con numeral # */
#footerNav ul {
    list-style: none;
}


footer a {
    text-decoration: none;
    color: white;
}
/* clase se identifica con un punto . */
.textoVerde {
    color: #25AC53;
}
.banner {
   background-image: url('imagenes/logo.jpeg');
   background-size: cover; /* La imagen cubre todo el contenedor */
   background-position: center; /* Centra la imagen */
   padding: 1rem;
   margin-bottom: 32px;
} 
footer ul {
    margin-bottom: 64px;
}